* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  background-image: url(images/bg2.jpg);
}

header {
  height: 10vh;
  background-color: #f3ecdc;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 1% 5%;
  color: #344e41;
  font-size: 1.5rem;
  border-bottom: 2px solid #ccc;
}

main {
  height: 90vh;
  padding: 2% 5%;
  font-family: "Poppins";
}

h1 {
  color: #ffff;
  text-align: left;
  font-weight: bolder;
}

h3 {
  color: #fee074;
  text-align: left;
}

span {
  color: #fee074;
}

@media (max-width: 856px) {
  h1 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1rem;
  }
}

#breed-select {
  padding: 10px 10px;
  font-size: 13px;
  margin-bottom: 20px;
  display: block;
  border-radius: 10px;
  border: none;
  background-color: #344e41;
  color: #f3ecdc;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  border: 1px solid #4d7561;
}

#breed-select:hover {
  background-color: #3f5f4f;
}

#image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 10px;
  border: 2px solid #344e41;
  border-radius: 5px;
  height: 60vh;
  max-width: 1000px;
  overflow-y: auto;
  box-sizing: border-box;
  background-image: url(images/bg1.png);
  background-color: #3f5f4f;
  background-size: cover;
}

.card {
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

/*FOR AI ASSISTANT*/

#ai-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 55px;
  height: 55px;
  background-color: #82b440;
  border-radius: 50%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transform: scale(1.5rem);
  transition: 0.5s;
  z-index: 1000;
}

#ai-icon:hover {
  transform: scale(1.15);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
}

#ai-container {
  position: fixed;
  bottom: 55px;
  right: 20px;
  width: 370px;
  height: 60vh;
  background-color: #82b440de;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  animation: slideUp 0.3s ease;
  z-index: 1500;
}

@media (max-width: 400px) {
  #ai-container {
    width: 340px;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(40px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.hidden {
  display: none !important;
}

#ai-container {
  display: flex;
}

#ai-icon {
  display: none;
}

#ai-header {
  background: linear-gradient(135deg, #f3ecdc, #afca8c);
  color: #344e41;
  padding: 14px 18px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 3000px) {
  #ai-header {
    display: flex;
    justify-content: left;
    gap: 30px;
  }
}

#ai-header img {
  width: 35px;
  height: 35px;
  padding: 5px 5px;
  background-color: #82b440;
  border-radius: 50%;
}

#ai-header span {
  color: #344e41;
}

#close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 22px;
  cursor: pointer;
}

#ai-body {
  flex: 1;
  padding: 12px;
  overflow-y: auto;
}

#ai-messages {
  display: flex;
  flex-direction: column;
}

.message {
  margin-bottom: 12px;
  padding: 12px 15px;
  border-radius: 5px;
  max-width: 100%;
  font-size: 15px;
  line-height: 1.4;
  background-color: #f3ecdc;
  color: black;
  align-items: center;
  text-align: justify;
  animation: popIn 0.2s ease;
}

@keyframes popIn {
  from {
    transform: scale(0.9);
    opacity: 0.5;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.message ul {
  padding-left: 20px;
  margin-top: 4px;
  margin-bottom: 8px;
}

.message li {
  margin-bottom: 4px;
}
